streamlit
streamlit-chat
git+https://github.com/huggingface/transformers.git
scikit-learn
torch
accelerate>=0.20.3
sentencepiece
https://github.com/timdettmers/bitsandbytes.git
datasets 
scipy
loralib 
git+https://github.com/huggingface/peft.git
