streamlit
streamlit-chat
git+https://github.com/huggingface/transformers.git
scikit-learn
torch==1.13.1 
accelerate==0.18.0 
sentencepiece==0.1.98 
protobuf==3.20.1
bitsandbytes==0.38.1
datasets 
scipy
loralib 
git+https://github.com/huggingface/peft.git
