streamlit
streamlit-chat
transformers
accelerate
torch
datasets 
scipy
loralib 
bitsandbytes
sentencepiece
git+https://github.com/timdettmers/bitsandbytes.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers


